<body>
	<navbar>
		<% include ./navbarTemplate.html %>
	</navbar>
	<div class="mainContent"><strong>CFB</strong>|tweet</div>
	<div class="teamIconContainer">
		<div class="utahIcon"><a href="/utah" onclick="/utahInfo"><img ng-model="utah" ng-click="getUtah()" src="http://upload.wikimedia.org/wikipedia/en/thumb/b/be/Utah_Utes_logo.svg/249px-Utah_Utes_logo.svg.png"></a></div>
		<div class="utahStateIcon"><a href="/utahState"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Utah_State_Aggies_Logo.svg/460px-Utah_State_Aggies_Logo.svg.png"></a></div>
		<div class="byuIcon"><a href="/byu"><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/BYU_Athletic_Logo.svg/432px-BYU_Athletic_Logo.svg.png"></a></div>
	</div>
	<div class="bottomContent">#ConnectWithYourTeam</div>
</body>