<div class="mainContent"><strong>Login</strong>
	<div class="signUpContainer">Please Login or Register as a New User</div>
<!-- 	<div class="signUpContainer"><a href="/#/signup"><button type="submit">Sign-Up</button></a></div>
	<div class="signUpContainer" id="loginContent">Email</div>
	<div class="signUpContainer"><input type="text" placeholder="email"></input></div>
	<div class="signUpContainer" id="loginContent">Password</div>
	<div class="signUpContainer"><input type="text" placeholder="password"></input></div> -->
	<div class="signUpContainer" id="loginContent">
		<div class="loginBtns"><a href="/auth/twitter"><button type="submit">Twitter Login</button></a></div>
	</div>
</div>
