<div class="mainContent"><strong>Sign-Up</strong>
	<div class="signUpContainer">Please Sign-Up Below By Completing All Fields</div>
	<form action="/signup" method="post">
		<div class="signUpContainer" id="loginContent">Email</div>
		<div class="signUpContainer"><input type="text" name="email"></input></div>
		<div class="signUpContainer" id="loginContent">Password</div>
		<div class="signUpContainer"><input type="text" name="password"></input></div>
		<div class="signUpContainer" id="loginContent">
			<div class="loginBtns"><a href="/signup"><button type="submit">Sign-Up</button></a></div>
		</div>
	</form>
</div>
