html {
	font-size: 62.5%;
	background: black;
	font-family: copperplate, sans-serif;
}

.mainPageContainer {
	width: 100%;
	height: auto;
}

.topSpacer {
	height: 20rem;
}

.topContent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 3rem;
	color: rgba(137,137,137, .50);
}

.homeLink {
	margin-left: 2rem;
	margin-right: 2rem;
	transition: color .3s ease;
}

.homeLink:hover {
	color: white;
	cursor: pointer;
}

.matchupLink {
	margin-right: 2rem;
	transition: color .3s ease;
}

.matchupLink:hover {
	color: white;
	cursor: pointer;
}

.mediaLink {
	margin-left: 2rem;
	margin-right: 2rem;
	transition: color .3s ease;
}

.mediaLink:hover {
	color: white;
	cursor: pointer;
}

.userLink {
	margin-left: 2rem;
	transition: color .3s ease;
}

.userLink:hover {
	color: white;
	cursor: pointer;
}

.searchLink {
	margin-left: 2rem;
	margin-right: 2rem;
	transtion: color .3s ease;
}

.searchLink:hover {
	color: white;
	cursor: pointer;
}

.mainContent {
	font-size: 15rem;
	color: white;
	text-align: center;
	margin-bottom: 5rem;
}

.teamIconContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

img {
	height: 50px;
	width: auto;
	margin: 1rem;
	border-radius: 1rem;
}

img:hover {
	border: white 2px solid;
	cursor: pointer;
}

.bottomContent {
	font-size: 5rem;
	color: rgba(137,137,137, .50);
	text-align: center;
	margin-top: 5rem;
}

.homeButton {
	font-size: 3rem;
	color: rgba(137,137,137, .50);
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

a {
	text-decoration: none;
	color: rgba(137,137,137, .50);
	transition: color .3s ease;
}

a:hover {
	color: white;
	cursor: pointer;
}

.signUpContainer {
	font-size: 3rem;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 8rem;
	margin-right: 8rem;
	padding: .5rem;
}

.profileContainter {
	font-size: 3rem;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 8rem;
	margin-right: 8rem;
	padding: .5rem;
}

#loginContent {
	color: rgba(137,137,137, .50);
}

input {
	font-size: 3rem;
	font-family: copperplate;
	text-align: center;
}

button {
	color: white;
	font-size: 2rem;
	font-family: copperplate;
	border: 2px white solid;
	border-radius: 1rem;
	background: none;
	transition: color .3s ease;
}

button:hover {
	color: rgb(137,137,137);
	border: 2px rgb(137,137,137) solid;
	background: white;
	cursor: pointer;
}

.userInfo {
	font-size: 2rem;
	color: white;
}
