html {
	font-size: 62.5%;
	background: black;
	font-family: copperplate, sans-serif;
}

.mainPageContainer {
	width: 100%;
	height: auto;
}

.topSpacer {
	height: 20rem;
}

.topContent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 3rem;
	color: rgba(137,137,137, .50);
}

.matchupLink {
	margin-right: 2rem;
	transition: color .3s ease;
}

.matchupLink:hover {
	color: white;
	cursor: pointer;
}

.mediaLink {
	margin-left: 2rem;
	margin-right: 2rem;
	transition: color .3s ease;
}

.mediaLink:hover {
	color: white;
	cursor: pointer;
}

.userLink {
	margin-left: 2rem;
	transition: color .3s ease;
}

.userLink:hover {
	color: white;
	cursor: pointer;
}

.searchLink {
	margin-left: 2rem;
	margin-right: 2rem;
	transtion: color .3s ease;
}

.searchLink:hover {
	color: white;
	cursor: pointer;
}

.mainContent {
	font-size: 15rem;
	color: white;
	text-align: center;
	margin-bottom: 5rem;
}

.bottomContent {
	font-size: 5rem;
	color: rgba(137,137,137, .50);
	margin-top: 5rem;
	float: left;
}